@charset "utf-8";
.u-clearfix {
	&:after {
		content: " ";
		display: block;
		height: 0;
		line-height: 0;
		clear: both;
	}
}

.u-font-family {
	&__gothic {
		font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
		&--full {
			font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
		}
	}
	&__serif {
		font-family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
		&--full {
			font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
		}
	}
	&__palatino {
		font-family: Palatino, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", YuMincho,  "メイリオ", Meiryo, serif;
	}
	&__optima {
		font-family: Optima,Segoe, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", YuMincho,  "メイリオ", Meiryo, serif;
	}
	&__tohaba {
		font-family: Osaka-mono, "MS Gothic", monospace;
		&--full {
			font-family: "Osaka－等幅", Osaka-mono, "ＭＳ ゴシック", "MS Gothic", monospace;
		}
	}
	&__maru {
		font-family: "Hiragino Maru Gothic ProN", Meiryo, fantasy;
		&--full {
			font-family: "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", "メイリオ", Meiryo, fantasy;
		}
	}
	&__android-full-set {
		font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	}
}

.u-filter__hover {
	&:hover {
		opacity: 0.6;
		filter: alpha(opacity=60);        /* ie lt 8 */
		-ms-filter: "alpha(opacity=60)";  /* ie 8 */
		-moz-opacity: 0.6;                 /* FF lt 1.5, Netscape */
		-khtml-opacity: 0.6;              /* Safari 1.x */
		zoom:1;
	}
}
.u-button__hover {
	position: relative;
	display: inline-block;
	color: #dcdcdc;
	text-align: center;
	text-decoration: none;
	outline: none;
	overflow: hidden;
	transition: all .5s;
	&::before,
	&::after {
		position: absolute;
		display: block;
		content: '';
		width: 100%;
		height: 100%;
		transition: all .5s;
	}
	&::before {
		top: 0;
		left: 0;
		border-top: 2px solid #dcdcdc;
		border-left: 2px solid #dcdcdc;
	}
	&::after {
		right: 0;
		bottom: 0;
		border-right: 2px solid #dcdcdc;
		border-bottom: 2px solid #dcdcdc;
	}
	&:hover {
		background-color: #164a66;
		transition: all .7s;
	}
	&:hover::before,
	&:hover::after {
		width: 0;
		height: 0;
		opacity: 0;
		transition: all .7s;
	}
	&.is-current {
		background-color: #164a66;
		&::before,
		&::after {
			transition: none;
		}
		&::before {
			border-top: none;
			border-left: none;
		}
		&::after {
			border-right: none;
			border-bottom: none;
		}
	}
	&.is-commingsoon {
		color: #dcdcdc;
		background-color: trasparent;
		transition: none;
		cursor: default;
		position: relative;
		overflow: visible;
		&:hover {
			background-color: transparent;
			transition: none;
		}
		&::before,
		&::after {
			transition: none;
		}
		&::before {
			border-top: 2px solid #dcdcdc;
			border-left: 2px solid #dcdcdc;
			transition: none;
		}
		&::after {
			border-right: 2px solid #dcdcdc;
			border-bottom: 2px solid #dcdcdc;
			transition: none;
		}
		&:hover::before,
		&:hover::after {
			width: 100%;
			height: 100%;
			opacity: 1.0;
			transition: none;
		}
		span {
			display: block;
			position: absolute;
			margin: 0 auto;
			bottom: -13px;
			left: 0;
			right: 0;
			opacity: 0.8;

		}
	}
}
.u-noWrap {
	white-space: nowrap;
}
