@charset "utf-8";

@import "base/sanitize";

@import "object/utility";

@import "object/font-awesome";

@import "base/jssocials";

@import "base/jssocials-theme-plain";

//var
$headerHeight: 70px;
$footerHeight: 30px;
$textColor: #dcdcdc;
$textColor--current: #164a66;
$small:  "screen and (max-width:960px)";
$large:  "screen and (min-width:961px)";

body {
    position: relative;
    color: $textColor;
    -webkit-text-size-adjust: 100%;
}
#loader-bg {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 1;
}
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 2;
}

.l-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    z-index: 2;
}
header {
    display: none;
    height: $headerHeight;
    background-color: transparent;
    position: relative;
    z-index: 3;
}
@media #{$small} {
    nav {
        height: $headerHeight;
        text-align: center;
        &.pc_navi {
            display: none;
            ul {
                display: flex;
                margin: 0 auto;
                flex-direction: row;
                justify-content: center;

                li {
                    margin: 10px;
                    a {
                        display: block;
                        box-sizing: border-box;
                        width: 115px;
                        height: $headerHeight - 20px;
                        line-height: $headerHeight - 20px;
                        color: $textColor;
                        font-size: 14px;
                        &.current {
                            color: $textColor--current;
                        }
                    }
                }
            }
        }
        &.sp_navi {
            display: block;
        }
    }
}
@media #{$large} {
    nav {
        height: $headerHeight;
        text-align: center;
        &.pc_navi {
            ul {
                display: flex;
                margin: 0 auto;
                flex-direction: row;
                justify-content: center;

                li {
                    margin: 10px;
                    a {
                        display: block;
                        box-sizing: border-box;
                        width: 115px;
                        height: $headerHeight - 20px;
                        line-height: $headerHeight - 20px;
                        color: $textColor;
                        font-size: 14px;
                        &.current {
                            color: $textColor--current;
                        }
                    }
                }
            }
        }
        &.sp_navi {
            display: none;
        }
    }
}

main {
    height: 100%;
    position: relative;
    z-index: 3;
}
aside {
    position: fixed;
    top: 0;
    right: -55px;
    width: 55px;
    height: 100%;
    text-align: center;
    background-color: rgba(19, 19, 19, 0.95);
}
footer {
    display: none;
    position: fixed;
    height: $footerHeight;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(19, 19, 19, 0.95);
    text-align: center;
    z-index: 3;
    .copyright {
        color: #dcdcdc;
        line-height: $footerHeight;
    }
}
